.next-prev-container {
  margin-top: 8px;
  display: flex;
  .next {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }
  .prev {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
  }
}
